@import '../../variables';

.footer-paralax {
    padding: 4rem 0 0 0;
}

footer {
    text-align: center;
    color: #fff;
    padding-bottom: 4rem;

    .copyright {
        margin-bottom: 0.3rem;
    }
}

.socials {
    padding: 1.5rem 0;

    li {
        display: inline-block;
    }

    .ico-circle {
        height: 45px;
        width: 45px;
        font-size: 2rem;
        border-radius: 50%;
        line-height: 1.4;
        margin: 0 15px 0 0;
        box-shadow: 0 0 0 3px $primary;
        transition: all 500ms ease;

        &:hover {
            background-color: $primary;
            color: #fff;
            box-shadow: 0 0 0 3px #cde1f8;
            transition: all 500ms ease;
        }
    }
}
